{% extends 'layouts/app.html.twig' %}

{% block title %}Login{% endblock %}
{% block nav %}

{% endblock %}
{% block content %}
<div id="login">
    <h1>Baby First CRM</h1>
    <h2>Veuillez vous connecter</h2>
    <form action="{{path('login-form')}}" method="post">
        <div class='mb-3'>
            <label for="email" class="form-label">Mail</label>
            <input type="text" name="email" id="email" ><br>
        </div>
        <div class='mb-3'>
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="password" ><br>
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>
    <a href="" class="link-primary">Mot de passe oublié? Cliquez ici</a>
</div>
{% endblock %}


{% block style %}
    {{parent()}}
    <link href="{{asset('assets/css/login.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block script_body %}
    {{parent()}}
{% endblock %}
