:root{
    --bs-primary: #3CCE8B;
    --bs-primary-rgb: 60,206,139;
    box-sizing: border-box;
    --box-shadow : 0 2px 4px lightgray;
    --clientColor: #5DFFE4;
    --fournisseurColor: #5DBEFF;
    --prestataireColor: #D55DFF;
    --collaboColor: #FFB95D;
    --bs-body-font-family: "Open Sans";
    --borderColor: #707070;
    --borderColor25: #70707025;
    --borderColor50: #70707050;
    --borderColor75: #70707075;
    --nav-tabs-link-hover-border-color: #123456;
}
body{
    display: flex;
}
a{
    color: var(--bs-primary)
}
nav{
    width:20%;
    max-width: 200px;
    height: 100vh;
}
.content{
    width:100%;
    height: 100vh;
}
.navbar>.container-fluid,ul.navbar-nav{
    flex-direction: column !important;
}
.navbar>.container-fluid{
    height: 100%;
}
.navbar-brand{
    margin-right: 0;
}
#navTop{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#navTop img{
    height: 100px;
    width: 100px;
}
#sidePlanningContainer{
    
}
#sidePlanningContainer div{
    height: 100px;
    width: 100px;
    color: black;
    font-size: 16px;
    border: 5px solid;
    border-radius: 5px;
    text-align: center;
    background-color: #FFFFFF99;
}
#sidePlanningContainer div p{
    margin-bottom: 0.5em
}
#loggoutLink{
    margin-bottom: 30%;
}
#toastContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 4em;
    margin-right: 2em;
    z-index: 2;
}
.toast{
    margin-top: 1em;
}
.toast-header.success{
    background-color:var(--bs-success);
    color:white;
}
.toast-header.error{
    background-color:var(--bs-secondary);
    color:white;
}

.pagination .page-item{
    cursor: pointer;
    margin-top: 1em;
}
.pagination{
    overflow-x: scroll;
    padding-bottom: 5px;
    width: 50%;
    margin: auto;
    border-radius: 0.4rem;
}
.pagination::-webkit-scrollbar,#tableContainer::-webkit-scrollbar,.dashBlock::-webkit-scrollbar {
    height: 0.5em;
    background-color: var(--bs-light); /* or add it to the track */
}
.pagination::-webkit-scrollbar-thumb,#tableContainer::-webkit-scrollbar-thumb,.dashBlock::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
    border-radius: 20px;
}
.dashBlock::-webkit-scrollbar{
    width: 0.8em;
}
.page-item .page-link{
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.page-item .page-link:hover{
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}
.btn-primary{
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
