:root{
    
}

#mainContactBlock{
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
}
#mainContactBlock ul{
    margin-bottom: 1em;
}
#mainContactBlock tr:hover{
    cursor: pointer;
}
#mainContactBlock .nav-link.active{
    border-color: var(--borderColor);
    border-bottom: 1px solid white;
}
#mainContactBlock .nav-tabs{
    border-color: var(--borderColor);
    
}
#mainContactBlock .nav-tabs .nav-link:focus,#mainContactBlock .nav-tabs .nav-link:hover{
    border-color: var(--borderColor);
    border-bottom: 1px solid white;
}
.contactColorBlock{
    min-width:20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid var(--borderColor);
}
.color1{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.color2{
    position: absolute;
    top:0;
    right: 0;
    width: 50%;
    height: 100%;
}
.color3{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 50%;
}
.color4{
    position: absolute;
    bottom:0;
    right: 0;
    width: 50%;
    height: 50%;
}

.colorHeader{
    display: flex;
    margin-left: 2em;
}
.colorHeader span{
    margin-right: 0.5em;
}
#tableContainer{
    overflow-y: auto;
    max-height: 70vh;
}
#tableContainer::-webkit-scrollbar{
    width: 0.8em;
}
.tableHeader{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width: 500px;
}
.tableHeader .form-group{
    margin-left: auto;
    display: flex;
    height: 2em;
}
.tableHeader .form-group .form-select{
    width: auto;
}
.tableHeader .form-group label{
    margin: auto;
    padding-right: 1em;
}
#searchInput{
    min-width: 200px;
    flex-wrap: nowrap;
    width: auto;
    margin-left: auto;
    position: absolute;
    top:0;
    right:0;
}
#searchInput label{
    margin-right: 1em;
}
.form-check{
    margin: auto;
}
#tabSearch{
    position: relative;
}

#checkisCompany,#isCompanyLabel{
    display: none;
}
#addNewContact form{
    font-size: 14px;
}
#addNewContact .form-control{
    font-size: 14px;
}
#singleContactBlock{
    width:80%;
    margin: 0 auto;
}