#mainPlanningBlock{
    height: 100vh;
}
#mainPlanningBlock h1{
    text-align: center;
}
#calendar-holder{
    width: 80%;
}
#calendarBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#externalEvents{
    box-shadow: var(--box-shadow);
    width: 10%;
    height: fit-content;
    padding: 1em 1em;
    border: 1px solid var(--borderColor75);
    min-width: 150px;
}
.fc-event{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    cursor: pointer;
}
.modal .btn-danger{
    margin-right: auto;
}