{% extends 'layouts/loggedin.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block nav %}
    {{parent()}}
{% endblock %}
{% block content %}
<div class="content">
{% if is_granted('ROLE_ADMIN') %}
    HELLO ADMIN
{% endif %}
    <h1>DASHBOARD</h1>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
</div>
{% endblock %}

{% block style %}
    {{parent()}}

{% endblock %}

{% block script_body %}
    {{parent()}}
{% endblock %}
